# Copyright 2023 - soulr344@github
# Licensed under GNU GPL v2
# Please DON'T edit this file if you're not sure what you're doing!

RewriteEngine on

RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ handler.php [R=200,L]

RewriteRule ^(.*)$ handler.php [QSA,NC,L]